{% comment %}
------------------------------------------------------------------------------
  Section: Featured collection
  - This the main section that you should be working on
  - Main styling is done in /styles/sections/featured-collection.scss
------------------------------------------------------------------------------
{% endcomment %}

<section class="featured-collection" data-section-id="{{ section.id }}" data-section-type="featured-collection">
  {%- assign collection = collections[section.settings.collection] -%}

  <h2>{{ collection.title | escape }}</h2>

  <p>{{ collection.description }}</p>

  <div class="divsContainer">

    {% for product in collection.products limit: 4 %}
      {% assign current_variant = product.selected_or_first_available_variant %}
      
      <a href="{{ product.url | within: collection }}">
        
          <div>
            {% if product.featured_image != blank %}
              {{ product.featured_image | img_url: 'large' | img_tag }}
            {% endif %}
            
            <span class="atcart" js-ajax-cart="addToCart" data-variant-id="{{ current_variant.id }}" data-quantity="1">Add to cart</span>

            
            
          </div>

          <div>
            <p>{{ product.title | escape }}</p>

            <span class="pprice">
              {% include 'product-price' %}
            </span>

            {% comment %} quick add button {% endcomment %}
            <form method="post" action="/cart/add">
            <input type="hidden" name="id" value="{{ product.variants.first.id }}" />

            <i class="fa fa-cart-plus" aria-hidden="true"></i>

            <input type="submit" value="Quick Add" class="btn" />
            <input type="hidden" name="return_to" value="back" />
            </form> 
          </div>

          
        
      </a>

      

    {% endfor %}

    

  </div>

  <span class="viewCollection" >View Collecton</span>

  </section>

{% schema %}
  {
    "name": "Featured collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "Featured collection",
        "category": "Collection"
      }
    ]
  }
{% endschema %}
